.backgroundLanding {
  height: 115vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/space-game-background-with-landscape-planet_107791-1700-transformed.jpeg);
  background-attachment: fixed;
  padding-top: 2rem;
}